.button {
    background-color: #ffffff;
    color: #181818;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: #DBDBDB;
}